<body class="p-3 m-0 border-0 bd-example">

<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "row g-3" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="col-md-6">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Enter your name", class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= f.label :role, class: "form-label" %>
      <%= f.select :role, User.roles.keys, prompt: "Select role", class: "form-select", id: "user_role" %>
    </div>

    <div id="speciality_field" class="col-md-12" style="display: none;">
      <%= f.label :speciality, class: "form-label" %>
      <%= f.text_field :speciality, autofocus: true, autocomplete: "speciality", placeholder: "Enter your Speciality", class: "form-control" %>
    </div>

    <div class="col-md-12">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="col-md-12">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="col-md-12">
      <%= f.label :password, class: "form-label" %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="col-md-12">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="col-md-12">
      <%= f.label :current_password, class: "form-label" %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="col-md-12">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></div>

  <%= link_to "Back", :back, class: "btn btn-secondary mt-3" %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const roleSelect = document.getElementById("user_role");
    const specialityField = document.getElementById("speciality_field");

    roleSelect.addEventListener("change", function() {
      if (this.value === "doctor") {
        specialityField.style.display = "block";
      } else {
        specialityField.style.display = "none";
      }
    });
  });
</script>

</body>
