<%= form_with(model: patient, html: { class: "row g-3" }) do |form| %>
  <% if patient.errors.any? %>
    <div class="col-md-12" style="color: red">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12">
    <%= form.label :name, class: "form-label", style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="col-md-12">
    <%= form.label :age, class: "form-label", style: "display: block" %>
    <%= form.number_field :age, class: "form-control" %>
  </div>

  <div class="col-md-12">
    <%= form.label :symptom, class: "form-label", style: "display: block" %>
    <%= form.text_area :symptom, class: "form-control" %>
  </div>

  <div class="col-md-12">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
